@import '~@nice-digital/nds-core/scss/core.scss';

@mixin focus-ring {
  // Unfortunately we can't use @include nds-default-focus-style; because we
  // have to use important to override Cookie Control's styling
  outline: rem($nds-spacing-x-small) solid $nds-colour-focus !important;
}

#ccc {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;

  #ccc-module {
    animation-duration: 0.001ms !important;
  }

  #ccc-close {
    // Syndication sets default button styles so we need to override them here
    background: none !important;
    margin: 0 !important;
    min-width: auto !important;

    &:focus {
      @include focus-ring;
    }
  }

  #ccc-title {
    font-size: rem(nds-get-font-size(h4)) !important;
  }

  h3 {
    font-size: rem(nds-get-font-size(h5)) !important;
  }

  #ccc-content {
    a {
      color: $nds-colour-link !important;

      span {
        color: $nds-colour-link !important;
      }

      &:visited {
        color: $nds-colour-link-visited !important;
      }

      &:hover {
        color: $nds-colour-link-hover !important;
      }

      &:focus {
        @include focus-ring;
      }
    }
  }

  // Cookie Control uses icons with a fixed width, but we hide the external link one (see below)
  // So we want to also remove the width it leaves
  .ccc-svg-element {
    width: auto !important;

    // See https://designnotes.blog.gov.uk/2016/11/28/removing-the-external-link-icon-from-gov-uk/
    [data-icon='external-link'] {
      display: none;
    }
  }

  // Reject/accept buttons
  .ccc-notify-button {
    border-radius: 0 !important;
    height: auto !important; // Syndication has absolute height buttons
    padding: em($nds-spacing-small $nds-spacing-medium) !important;

    &:focus {
      @include focus-ring;
    }
  }

  // Accept button
  .ccc-accept-button {
    background: $nds-colour-btn-cta !important;
    border: em(1px) solid $nds-colour-btn-cta-text !important;

    span {
      color: $nds-colour-btn-cta-text !important;
    }

    &:hover,
    &:focus,
    &:active {
      background: $nds-colour-btn-cta-hover !important;
    }
  }

  // Reject button
  .ccc-reject-button {
    background: $nds-colour-btn-inverse !important;
    border: em(1px) solid $nds-colour-btn-inverse-text !important;

    &:hover,
    &:focus,
    &:active {
      background: $nds-colour-btn-inverse-hover !important;
    }
  }

  .checkbox-toggle {
    background: $nds-colour-nice-dark-grey !important;
    border-color: $nds-colour-nice-dark-grey !important;

    &:focus-within {
      @include focus-ring;
      outline-offset: rem($nds-spacing-xx-small);

      .checkbox-toggle-input:focus ~ .checkbox-toggle-toggle {
        outline: none !important;
      }
    }

    .checkbox-toggle-input:focus ~ .checkbox-toggle-toggle {
      @include focus-ring;
    }

    .checkbox-toggle-label {
      width: auto !important; // Syndication adds a width to labels
    }

    .checkbox-toggle-toggle {
      background: $nds-colour-nice-white !important;
    }

    .checkbox-toggle-on,
    .checkbox-toggle-off {
      color: $nds-colour-nice-white !important;
    }
  }

  .ccc-alert {
    background: $nds-colour-nice-grey-3 !important;
    border: 1px solid $nds-colour-nice-grey-2 !important;
    border-radius: 0 !important;

    > :last-child {
      margin-bottom: 0 !important;
    }

    .ccc-alert-break {
      display: none !important;
    }

    // We don't really use icons anywhere so just hide it
    .ccc-alert-icon {
      display: none !important;
    }
  }

  .ccc-vendor-reveal {
    border-style: solid !important;
    opacity: 1 !important;
  }

  .third-party-cookie-icon {
    display: none !important;
  }

  .optional-vendor-heading {
    font-size: rem(nds-get-font-size(h6)) !important;
    margin-bottom: rem($nds-spacing-small) !important;
    padding-left: 0 !important;
    text-decoration: none !important;
  }

  .optional-vendor-content {
    padding-left: 0 !important;

    > :first-child {
      margin-top: 0 !important;
    }
  }
}
